<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBDIV4dADb9i1MNPZYvAaCXt_GQh1kCVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>533740996041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobFinderApp</string>
	<key>PROJECT_ID</key>
	<string>jobfinderapp-c5a31</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfinderapp-c5a31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533740996041:ios:365e92146710275557d418</string>
</dict>
</plist>